input {
  beats {
    type => beats	
    port => 5060
  }
}
filter{
        mutate {
                gsub => [ "message", "\n", "" ]
        }
        grok {
                match => { "message" => "(?m)%{TIMESTAMP_ISO8601:timestamp} \[.*%{LOGLEVEL:logLevel}\] \[%{INT:pid}-\(%{DATA:thread}\)\] \[%{DATA:class}\] : %{GREEDYDATA:message}" }
                overwrite => [ "message" ]
                add_field => {  "greeting_host" => "Hello world, from %{host}" }
                add_tag =>  [ "My_Secret_Tag" ]
        }
        date {
                match => [ "timestamp" , "yyyy-MM-dd HH:mm:ss.SSS" ]
        }
}
output {
  elasticsearch {
    hosts => ["http://localhost:9200"]
    index => "utsav-notify-log4j" 
  }
}
